<form class="login-form">

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="email-login" class="form-control" />
        <label class="form-label" for="email-login">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password-login" class="form-control" />
        <label class="form-label" for="password-login">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4 login-form">Sign in</button>

      <!-- sign-up buttons -->
      <div class="text-center">
        <p>Not a member? <a href="#!">sign-up</a></p>
      </div>
    </form>

    <script src="./js/login.js"></script>