<ul class="list-inline post-meta mb-4">
            <li class="list-inline-item"><i class="ti-user mr-2"></i>
                <a href="/api/dashbaord/edit/{{id}}">{{ title }}</a>
            </li>
            <li class="list-inline-item">Date : {{ format_date date_created }}</li>
        </ul>
        <p></p>