<form class="signup-form">

      <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="name-signup" class="form-control" />
        <label class="form-label" for="name-signup">Name</label>
      </div>

      <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="email" id="email-signup" class="form-control" />
        <label class="form-label" for="email-signup">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password-signup" class="form-control" />
        <label class="form-label" for="password-signup">Password</label>
      </div>


      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-3">Create Account</button>
    </form>

<script src="./js/signup.js"></script>