<!-- Blog Posts -->

<article class="row mb-5">
    <div class="col-12 mx-auto">
        <h3><a class="post-title" href="!#">{{ username }}'s Posts</a></h3>
        {{> my-posts post }}
        <a href="post-elements.html" class="btn btn-outline-primary">Continue Reading</a>
    </div>
</article>